body {
	background-image: none;
}
#wrap {
        max-width: 100%;
}
#header {
	max-width: 100%;
	height: 580px;
	background-size: cover;
	-moz-background-size: cover;
	background-image: url(../images/mobile-header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	}
#header #logo a {
	margin-top: 50px;
	margin-right: 5%;
	width: 320px;
	background-size: 320px;
	-moz-background-size: 320px;
	}
#header div#store {
	margin-top: -20px;
	margin-right: 10%;
	width: 260px;
	}
#header div#store img {
	width: 140px;
	}	
#header div#store span {
	display:block;
	width: 120px;
	height: auto;
	float:right;
	}
#header div#store span img{
	width: 120px;
	margin-top: 20px;
	}	
#container ul#form {
	margin-left:2%;
	}
#container div.slider {
	width: 680px;
	}
#footer {
	max-width: 100%;
	background-position: 60%;
}

@media screen and (max-width: 640px){
	#header #logo a {
	margin-right: 1%;
	}
	#header div#store {
	margin-right: 5%;
	}
	#container ul#form {
	background-size: 100%;
	-moz-background-size: 100%;	
	width:100%;
	padding: 20px 0px 0px 0px; 
	margin-left: 0;
	max-width: 100%;
	}
	#container ul#form li {
		margin: 20px 50px 0px 50px;
	}
	#container p#reward {
	margin-top: -50px;
	}
	#container p#reward img{
		width:100%;
	}
	#container div.slider {
	width: 600px;
	}
	#container div#store {
	width: 100%;
	}
	#container ul#notice {
	width:100%;
	}
	#container ul#notice img{
	margin-left: 1%;
	}
	#container ul#notice li{
	margin-left: 8%;
	}
}

@media screen and (max-width: 480px){
	#header {
	background-image: url(../images/mobile-xs-header.jpg);
	}
	#header #logo a {
	margin-top: 100px;
	margin-right: 1%;
	width: 250px;
	background-size: 250px;
	-moz-background-size: 250px;
	}
	#header div#store {
	margin-top: -50px;
	width: 230px;
	}
	#header div#store img {
	width: 120px;
	}	
	#header div#store span {
	width: 110px;
	}
	#header div#store span img{
	width: 110px;
	margin-top: 15px;
	}
	#container ul#form {
	background-size: auto;
	-moz-background-size: auto;
	background-position: -80px;
	padding: 0;
	height:auto;
	}
	#container ul#form li {
	margin: 15px 50px 0px 50px;
	}
	#container p#reward {
	margin-top: -10px;
	}
	#container div.slider {
	width: 100%;
	}
	#container div#store {
	background-size: 90%;
	-moz-background-size: 90%;	
	background-position: 145px 30%;
	height:auto;
	}
	#footer {
	background-position: center;
	}
}
@media screen and (max-width: 414px){
	#header {
	background-image: url(../images/mobile-xxs-header.jpg);
	}
	#header #logo a {
	margin-top: 50%;
	margin-right: 15%;
	}
	#header div#store {
	margin-top: -50px;
	margin-right: 20%;
	}
	#container ul#form {
	font-size: 1.5em;
	}
	#container ul#form li {
		margin: 20px 20px 0px 15px;
	}
	#container div#store {
	height: auto;
	text-align: center;
	background-image: none;
	}
	#container ul#notice li{
	font-size: 1.3em;
	line-height: 1.3em;
	}	
}
@media screen and (max-width: 320px){
	#header #logo a {
	margin-top: 60%;
	margin-right: 10%;
	}
	#header div#store {
	margin-right: 15%;
	}
	#container ul#form img {
		display:block;
		clear:right;
		width: 50px;
		margin-bottom: 5px;
	}	
	#container ul#form input {
	margin-left: 15px;
	}
	#container ul#form li.btn img{
	width: inherit;
	width: 230px;
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;
}
}