body {
	background-color: #edf1ed;
	margin: 0;
	background-image: url(../images/content-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	font-size:63%;
}
#wrap {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: auto;
	width: 980px !important ;
}
#header {
	height: 700px;
	width: 980px;
	background-image: url(../images/content-header.jpg);
	background-repeat: no-repeat;
}
#header #logo a {
	display:block;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	width: 370px;
	height: 169px;
	float:right;
	margin-top: 85px;
	margin-right: 60px;
	}
#header div#store {
	display:block;
	width: 330px;
	height: 170px;
	float:right;
	margin-top: 15px;
	margin-right: 80px;
	clear:both;
	}
#header div#store span {
	display:block;
	width: 155px;
	height: auto;
	float:right;
	}
#header div#store span img{
	margin-top: 20px;
	}
#container ul#form {
	background-image:url(../images/form-box.png);
	background-repeat:no-repeat;
	width:620px;
	height:483px;
	margin-left:130px;
	overflow: hidden;
	font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 1.6em;
	max-width: 100%;
	padding: 50px;
	text-align: left;
	list-style-type: none;
	}
#container ul#form img {
	margin-right:10px;
}	
#container ul#form li {
	margin-bottom: 35px;
}
#container ul#form input {
	color: #333;
	font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
	font-size: 1em;
	width: 210px;
	padding: 0.5em;
	height: 20px;
	border: 2px solid #c8b186;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	outline: 0;
	-webkit-appearance: none;
	display: block;
	clear: both;
	margin-left: 80px;
	margin-top: 10px;
	}
#container ul#form input:focus {
	border-color: #00fcff;
	}
#container ul#form li.btn{
	text-align:center;
	background-image:url(../images/hr-line.png);
	background-repeat:no-repeat;
	background-position:top center;
	padding-top: 10px;
}
#container ul#form li.btn img{
	margin-top:10px;
}	
#container ul#form li.btn p{
	font-size:  1.1em;
    line-height:  2em;
}
#container ul#form iframe{
	display: inline-block;
	vertical-align: middle;
	border:none; 
	overflow:hidden; 
	height:35px; 
	width:55px; 
	margin-top:10px;
}

#container p#reward {
	text-align:center;
	margin-top: -100px;
}
#container div.slider {
	width: 720px;
	height: 535px;
	margin-right:auto;
	margin-left:auto;
	}
#container div.slider img {
	width: 300px;
	height: auto;
	}
	
#container div#store {
	display:block;
	width: 630px;
	height: 145px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	background-image:url(../images/store-text.png);
	background-repeat:no-repeat;
	background-position: right 30%;
	}
#container div#store img {
	width: 138px;
	}	
#container div#store span {
	display: inline-block;

	}
#container div#store span img{
	width: 138px;
	margin-right: 5px;
	margin-bottom:10px;
	}
	
#container ul#notice {
	margin-top: 30px;
	margin-bottom: 20px;
	width:620px;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}
#container ul#notice img{
	margin-left: -50px;
	margin-bottom: 10px;

}
#container ul#notice li{
	font-size: 1.4em;
	color: #333;
	font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-left: -25px;
	list-style-type: decimal;
	margin-top: 0px;
	margin-bottom: .5em;
	line-height: 1.4em;
}
.important {
	color: #00fcff;
	font-weight:bold;
}
#inline_content{
	 padding:10px;
	 background:#fff;
	 text-align:center;
	 font-size:1.8em;
	 font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
	}
#cboxClose {
	font-size:1.5em;
	font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
	}	
div#back a{
	height: 25px;
	max-width: 980px;
	cursor: hand;
	margin-right: auto;
	text-align: right;
	background-image: url(../images/top-btn.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}
a { 
text-decoration:none;
color:#0084ff;
}
a:hover {
	text-decoration: underline;
	color:#ff3971;
	}
/* Sticky Footer Solution */

* {margin:0;padding:0;} 

html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#container {
	padding-bottom: 77px; /* must be same height as the footer */
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}  

#footer {
	position: relative;
	margin-top: -77px; /* negative value of footer height */
	height: 77px;
	clear:both;
	text-align: center;
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center;
} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
