@charset "utf-8";

/*slider*/
.game-sliderout {display:block; background:#1f1f1f; height:auto; width:100%; }
.game-slider{display:block; height:auto; width:100%;/* border:#0F0 solid 5px;*/}


/*content*/
#content { background: #110f27 url(/p/image/content/content_bg.jpg) top center no-repeat; -moz-background-size: cover; background-size: cover; margin:0; padding:0; text-align:center; min-height:550px; height:100%; display:block; z-index:1;}
#content .contenter{max-width:1200px; width:100%; margin:0 auto; padding-top:10px; display:block; text-align:right; height:100%; }
#content .contenter ul, #content .contenter ul li {list-style-type:none; }
#content .contenter ul.icon{width:50%;  max-width:340px;  display:inline-block; padding:10px; }
#content .contenter ul.icon li{ float:left;}
#content .contenter ul.icon > ul{ width:50%; float:left;}
#content .contenter ul.icon ul:nth-of-type(1) li{margin-bottom:12px;}
#content .contenter ul.icon ul:nth-of-type(2) li{margin-bottom:3px;}
#clear_copyright{ height:auto;clear:both;}


@media only screen and (max-width:800px){ 

#content .contenter ul.icon{width:70%; }
#content { background: url(/p/image/content/content_bg4.jpg) top center no-repeat; }
#clear_copyright{ height:auto;}
}

@media only screen and (max-width:650px){ 
#content { background: url(/p/image/content/content_bg4.jpg) top center no-repeat; }.copyright p{ font-size:14px;}
#clear_copyright{ height:auto;}
}

@media only screen and (max-width:553px){ 
#content { background: url(/p/image/content/content_bg6.jpg) top center no-repeat; }
#content .contenter{text-align:center; padding-top:20px; }
#content .contenter ul.icon{width:80%; }
#clear_copyright{ height:auto;}
}

@media only screen and (max-width:420px){ 
#content{ min-height:350px;}
#content .contenter ul.icon{width:250px; padding:20px; }
#content .contenter ul.icon > ul{ width:115px; margin-right:10px;}
#content .contenter ul.icon > ul:nth-of-type(2){ margin-right:0;}
#content .contenter ul.icon ul:nth-of-type(2) li{ margin-bottom:9px;}
#clear_copyright{ height: 60px;}
}
