body {
	background-color: #fff;
	margin: 0;
	font-size:63%;
}
#wrap {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: auto;
	width: 810px !important ;
}
div.step01, div.step02, div.step03 {
	display:block;
	background-repeat:no-repeat;
	height:600px;
	}
div.step01 {
	background-image: url(/p/evt/01/img/bg_01.jpg);
	}
div.step02 {
	background-image: url(/p/evt/01/img/bg_02.jpg);
	}
div.step03 {
	background-image: url(/p/evt/01/img/bg_03.jpg);
	}
div.box01, div.box02, div.box03 {
	display:block;
	float:right;
	margin-right: 10px;
	background-repeat:no-repeat;
	width: 521px;	
	}	
div.box01 {
	background-image: url(/p/evt/01/img/box_01.png);
	height:385px;
	}
div.box02, div.box03 {
	height:202px;
	margin-top: 157px;
	}	
div.box02 {
	background-image: url(/p/evt/01/img/box_02.png);
	}
div.box02 img {
	margin-right:auto;
	margin-left:auto;
	margin-top:105px;
	display:block;
	width:287px;
	height:56px;
	}	
div.box03 {
	background-image: url(/p/evt/01/img/box_03.png);
	text-align:center;
	}
div.box03 p{
	font-size:  1.6em;
	color: #fff;
    font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
    line-height:  2em;
	margin-top:110px;
	text-shadow: 1px 1px #080103;
	}
.important {
	font-size:  1.4em;
	color: #39c6ff;
	font-weight:bold;
	}
		
/* Option Like */
#optionallike { 
background-color: #fff;	
color: #333; 
font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; 
font-size: 12px; 
text-align: right;	
margin: 0 0 20px 0;	
width: 810px;}
#optionallike .btn { 
font-weight: bold; 
text-align: center; 
vertical-align: middle; 
text-decoration: none; 
padding: 0 8px;	border: 1px solid; 
border-radius: 2px;	
background-color: #fefefe; 
border-color: #cdced0 #c5c6c8 #b6b7b9; 
color: #4e5665;	
text-shadow: 0 1px 0 #fff; 
display: inline-block; 
box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
font-size: 14px; 
line-height: 26px;
padding: .1em .75em; 
margin-left: 10px; }
#optionallike .divide {	margin: 0 10px; }
#optionallike .skip { display:inline-block;cursor:pointer;color: #bbbbbb;text-decoration:underline; }
#optionallike .btn:hover {
background-color: #fcfcfc; border-color: #bbb #aaa #bbb;}
#optionallike .btn.continue { display:inline-block;cursor:pointer;margin-left: 10px; }